@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  display: flex;
  max-width: 100vw;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
}